<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static '../static/css/style.css' %}">
    <title>Snow Bananas Dashboard</title>
</head>
<body>
    <h1>Congrats {{ thisUser.first_name }} on making it to the Snow Bananas Page</h1>
    <h4><a class="btn btn-danger" href="/logout">Logout</a> <a class="btn btn-primary" href="/create">Create New</a></h4>
    <h3>All Bananas</h3>
    <ul>
        {% for nanna in sbananas %}
        {% if nanna.user.id != request.session.userID %}
        <li>
            {{nanna.color}} , {{nanna.user.first_name}} |  <a href="/like/{{ nanna.id }}" class="btn btn-success">Like</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    <h3>Bananas i've Liked</h3>
    <ul>
        {% for sb in thisUser.likedSnowBananas.all %}

        <li>
            {{sb.color}} , {{sb.user.first_name}}
        </li>
        {% endfor %}
    </ul>
</body>
</html>