<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static '../static/css/style.css' %}">
    <title>Snow Bananas Dashboard</title>
</head>
<body>
    <h1>Congrats {{ thisUser.first_name }} on making it to the Snow Bananas Page</h1>
    <h4><a href="/logout">Logout</a></h4>
    <ul>
        {% for name in nameList %}
        <li>
            {% if name == 'Billy' %}
            <h3>{{ name }}</h3>
            {% else %}
            <a href="/guest/{{name}}">{{name}}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>